Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
m4
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
lib/libhello.la
lib/Makefile
lib/Makefile.in
lib/*.o
lib/*.lo
lib/.libs
lib/.deps
src/*.o
src/Makefile
src/Makefile.in
src/hello
src/.libs
src/.deps
